.album-index-page {
    height: 100%;
    overflow: auto;
}

.album-index-content {
    flex: display;
    margin-left: 10%;
    width: 70%;
}

.create-alb-container {
    display: flex;
    margin-bottom: 15px;

    a {
        padding: 8px;
        font-size: 14px;
        color: #fff;
        background-color: #128fdc;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        border: none;
    }

    a:hover {
        color: #d7d7d7;
    }
}

.album-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.album-info {
    padding: 8px;
    height: 250px;
    width: 400px;
    margin-bottom: 20px;
    background-color: darkgray;
    border-radius: .25rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 20px;
        text-shadow: 2px 1px #423c3c;
        color: #fff;
        margin-bottom: 10px;
    }
}

.album-info:hover {
    border: 1px solid black;
}

.alb-prev {
    object-fit: cover;
    max-height: 220px;
}