.image-selector {
    width: 100%;
    column-count: 2;
    column-gap: 4px; 
}

.album-form-image {
    width: 100%;
    height: auto;
    filter: grayscale(80%);
}

.img-selected {
    img {
        filter: grayscale(0%);
        border: #128fdc solid 1px;
    }
}