.form-page {
    height: 100%;
    overflow: auto;
    background-color: #212124;
}

.form-container{
    padding-top: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 400px;

    .form-label {
        font-size: 32px;
        padding-bottom: 15px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    i {
        padding-bottom: 15px;
        font-size: 20px;
        cursor: pointer;
    }
}

.upload-form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        padding-bottom: 10px;
        width: 100%;

        input {
            height: 25px;
        }

        textarea {
            height: 40px;
        }

        * {
            font-family: inherit;
            font-size: inherit;
            border-radius: 0.25rem;
            width: 100%;
            border: none;
            outline: none;
        }
    }

}

#file-input {
    display: none;
}

.choose-file {
    width: 120px;
    text-align: center;
    color: #fff;
    background-color: #128fdc;
    font-family: inherit;
    font-size: 16px;
    border-radius: 0.25rem;
    padding: 8px;
    cursor: pointer;
}

.choose-file:hover {
    color: #d7d7d7;
}

.upload-button {
    width: 136px;
    border: none;
    color: #fff;
    background-color: #128fdc;
    font-family: inherit;
    font-size: 16px;
    border-radius: 0.25rem;
    padding: 8px;
    margin-top: 5px;
}

.upload-button:hover {
    color: #d7d7d7;
}

.preview-img {
    max-width: 400px;
    padding-bottom: 20px;
}

.form-errors {
    li {
        font-weight: 300;
        border: 1px solid red;
        background-color: rgb(250, 174, 174);
        padding: 4px;
        margin-bottom: 2px;
        border-radius: 0.25rem;
    }
}