.photo-show-page {
    background-color: #212124;
    overflow: auto;
}

.photo-show-body {
    display: flex;
    flex-direction: column;
    height: 100%
}

.image-container {
    padding: 50px 0;
    margin: auto;
    display: flex;
    flex-direction: column;

    i {
        color: #fff;
        padding-top: 30px;
        font-size: 25px;
        cursor: pointer;
    }

    img {
        padding-top: 15px;
        width: 813px;
        max-height: 100%;
        // left: 288px;
        top: 50px;
    }
}

.photo-info-container {
    height: 100%;
    background: #f3f5f6;
}

.photo-info-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 10px;

    h1 {
        margin-left: 15px;
        padding-bottom: 2px;
        font-size: 32px;
    }
}

.photo-owner {
    margin-left: 15px;
}

.photo-title-desc-delete {
    display: flex;
    justify-content: space-between;
}

.photo-description {
    padding-top: 10px;
    margin-bottom: 2px;
    margin-left: 15px;

    div {
        margin-top: 2px;
    }
}

.delete-update-photo button{
    font-weight: 600;
    color: #fff;
    background-color: #128fdc;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    height: 32px;
    margin-left: 23px;
    text-decoration: none;
    border: none;
}

.delete-photo:hover {
    color: rgb(247, 85, 85);
}

.update-photo:hover {
    color: #d7d7d7;
}

.photo-comments {
    background-color: #d7d7d7;
    color: black;
    padding: 10px 15px;
    border-radius: 3px;
    margin-bottom: 20px;

    h2 {
        font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
        font-size: 20px;
    }

    li {
        margin: 15px 0;
    }

    li div {
        margin-top: 5px;
    }

    a {
        text-decoration: none;
        color: #006dac;
    }

    a:hover {
        text-decoration: underline;
    }
}