
.session-form-body {
    background-image: url(https://source.unsplash.com/random/1920x1080);
    background-position: center;
}

.session-form-container {
    display: block;
    width: 22rem;
    position: relative;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: .25rem;
    margin: 0;
}

.session-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
    }
}

#splash-login-img {
    z-index: 0;
}

.circles-container {
    height: 1.5rem;
    width: 1.5rem;
}

#circle-right {
    fill: rgb(225, 0, 132);
}

#circle-left {
    fill: rgb(0, 95, 222);
}
