


.session-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
    }
}


.circles-container {
    height: 1.5rem;
    width: 1.5rem;
}

#circle-right {
    fill: rgb(225, 0, 132);
}

#circle-left {
    fill: rgb(0, 95, 222);
}
