.image-selector {
    width: 100%;
    column-count: 2;
    column-gap: 4px; 
}

.album-form-image {
    width: 100%;
    height: auto;
    filter: sepia(90%);
}

.img-selected {
    img {
        filter: sepia(0%);
    }
}