.comment-form {
    display: flex;
    flex-direction: column;

    button {
        align-self: flex-end;
        outline: none;
    }
}

.input-comment-container {
    width: auto;
    background-color: white;
    min-height: 50px;
    padding: 4px;
    margin-top: 2px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    
    textarea {
        font-size: 15px;
        font-family: inherit;
        width: 100%;
        border: none;
        outline: none;
        resize: none;
    }
}

.new-comment {
    border: 1px solid #006dac;
    padding: 4px;
}
