.photo-index {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}

.photo-item-container {
    flex-grow: 1;
    height: 50vh;
    margin: 2.5px;

    img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }

    .photo-details {
        display: none;
    }
}

