.session-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: asset-url('landscape.jpg');
    background-size: cover;
}

.session-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    padding-bottom: 4rem;

}

.session-form-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    padding: 1.5rem;
    border-radius: 0.25rem;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
//input fields
.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

// circle logos
.circles-container {
    height: 1.5rem;
    width: 1.5rem;
}

#circle-right {
    fill: rgb(225, 0, 132);
}

#circle-left {
    fill: rgb(0, 95, 222);
}
