.session-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url(https://source.unsplash.com/random/1920x1080);
}

.session-form-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 22rem;
    padding: 1.5rem;
    border-radius: 0.25rem;
}


.circles-container {
    height: 1.5rem;
    width: 1.5rem;
}

#circle-right {
    fill: rgb(225, 0, 132);
}

#circle-left {
    fill: rgb(0, 95, 222);
}
