.session-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-image: url(https://source.unsplash.com/random/1920x1080);
}

.session-form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#splash-login-img {
    z-index: 0;
}

.circles-container {
    height: 1.5rem;
    width: 1.5rem;
}

#circle-right {
    fill: rgb(225, 0, 132);
}

#circle-left {
    fill: rgb(0, 95, 222);
}
