.tags-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags-header i {
    color: #128fdc;
    margin: 0 10px;
}

.tags-header i:hover {
    cursor: pointer;
    color: #006dac;
}

.tags-header input {
    border: 1px grey solid;
    outline: none;
    border-radius: 3px;
    padding: 5px 2px;
}

.tag-list {
    padding: 5px 0;
    display: flex;
    flex: wrap;
    margin-left: 15px;
}

.tag-list-item {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.tag-list-item i {
    margin-right: 2px;
    font-size: 12px;
    color: rgb(255, 115, 115);
}

.tag-list-item i:hover {
    cursor: pointer;
    color: rgb(245, 88, 88);
}