.user-show-page {
    background-color: #f3f5f3;
}

.user-show-container {
    padding-top: 3rem;
    
    
    .user-header {
        display: flex;
        flex-direction: column;
        margin-left: 4px;
        background-color: white;
        width:100%;
        


        h1 {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 32px;
        }
    }


    .user-nav {
        display: flex;


        a {
            padding: 12px 20px; 
            height: 25px;
            text-decoration: none;
            font-size: 12pt;
            color: #212124;
            border: 1px solid black;
        }
    }

}